header, div.movies th {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-weight: 400;
}

#navbar {
    overflow: hidden;
    background-color: gray;
    border-bottom: 15px solid; color: darkgray;
}

#navbar a{
    text-decoration: none;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

#navbar a:hover {
    background-color: darkorange;
    color: black;
}

#container {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    bottom: 100px;
}

div.card, div.movies {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    transition: .3s;
    width: 50%;
}

div.card-title {
    text-align: center;
    font-size: 2em;
    color: black;
    font-weight: 400;
}

div.card-content {
    padding: 2px 16px;
}

div.card:hover, div.movies:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
}

footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

footer #copyright {
    left: 0;
    position: fixed;
    margin-top: 0;
}

footer #bhome {
    margin-bottom: 0;
}

footer p {
    color: white;
    font-weight: 400;
    float: right;
    padding: 10px;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

div.movies {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

div.movies th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

div.movies td {
    border: 1px solid;
    border-color: #ddd;
    padding: 8px;
}